<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/createUser">
  <!--
  <p>Enter name</p>
  <input name="name">
  <p>Enter email</p>
  <input name="email">
    <p>Enter phone number</p>
    <input name="phoneNumber"> -->
    <p>Enter user name</p>
    <input name="userName">
    <p>Enter password</p>
    <input name="password">
  <input type="Submit" value="Create User">
  <a href="/">Cancel</a>
</form>

</body>
</html>