<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div id="body">
    <div id="wrapper">
        <header>
            <div id="header">
                <a href="/">
                    <img src="../static/images/logo1.png"/>
                </a>
                <h1>Little Birdie</h1>
            </div>

            <nav id="headerNav">
                <ul>
                    <li><a href="/">Home Page</a></li>
                    <li><a href="/myPage">Profile Page</a></li>
                    <li><a href="/game">Game</a></li>
                </ul>
            </nav>
        </header>

<div id="content">
        <div>
            <form method="post" action="/myPage">
                <p>User name</p>
                <input name="userName">
                <p>Password</p>
                <input name="password">
                <input type="Submit" value="Login">
                <a href="/createUser">Create User</a>
            </form>
        </div>
</div>

        <footer>
            <nav id="footerNav">
                <ul>
                    <li><a href="/">Home Page</a></li>
                    <li><a href="/myPage">Profile Page</a></li>
                    <li><a href="/game">Game</a></li>
                </ul>
            </nav>

        </footer>
    </div>
</div>
</body>
</html>